Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
SpaceBeforeParens: Never
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
IndentCaseLabels: false
SortIncludes: false
AlwaysBreakTemplateDeclarations: Yes
